/**************** 設定  *********************/
$pc: 1280px;
$tab: 768px;
$sp: 480px;

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body,html {
  font-family: "游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", "メイリオ", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  text-align: left;
  background-color: #fff;
  word-wrap: break-word;
  text-size-addjust: 100%;
  padding: 0;
  margin: 0;
}
ul, li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}

// PCでは表示させ、SPでは非表示になる切り替え用クラス
// PCでは display:none / SPでは display:block
.pc-disnone {
  display: none;
  @include sp {
    display: block;
  }
}
// SPでは非表示にさせ、PCでは表示させる切り替え用クラス
// PCでは display:block / SPでは display:none
.sp-disnone {
  display: block;
  @include sp {
    display: none; 
  }
} 
// 全要素に対してbox-sizing:border-box;を指定
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
}
/************** end 設定 ***********************/

.header {
  text-align: center;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  height: 648px;
  background-image: url("/Users/sakieishikawa/Desktop/workspace/tokyo/img/mv/mv.png");
  background-size: cover;
  position: relative;
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background: #C4C7CD;
  }
  .nav-item {
    margin-right: 40px;
  }
  .header-right-contents {
    position: absolute;
    right: 50px;
    top: 220px;
    width: 38.36%;
    text-align: left;
    vertical-align: middle;
    .header-title {
      font-size: 30px;
      font-weight: bold;
      font-family: '游ゴシック';
      margin-bottom: 40px;
    }
    .txt {
      font-style: 18px;
      font-weight: normal;
      margin-bottom: 40px;
    }
    .contact-btn {
      display: inline-block;
    }
    .contact-link {
      display: block;
      background-color: #FFAA3B;
      color: #fff;
      box-shadow: 0px 3px 5px #3E3E3E;
      border-radius: 10px;
      height: 51px;
      width: 280px;
      line-height: 51px;
      text-align: center;
      font-weight: bold;
      font-style: 18px;
      &:hover {
        opacity: 0.8;
      }
    }
  }
}//--end header
.container {
  text-align: center;
  height: 915px;
  background: #F3F3F3;
  font-family: 'Montserrat';
  padding: 130px 0;
  margin: 0 auto;
  .news-inner {
    width: 86.36%;
    height: 655px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 4.23%;
    background: #fff;
    @include tab {
      width: 90%;
      padding: 3%;
    }
    @include sp {
      width: 90%;
      padding: 3%;
    }
  }
  .news-title {
    font-size: 36px;
    font-weight: bold;
    padding: 60px;
    line-height: 1.2;
  }
  .news-lists {
    margin-bottom: 40px;
    font-weight: normal;
    color: #3E3E3E;
    position: relative;
    .news-list {
      border-top: 1px solid #CECDCD;
      display: flex;
      align-items: center;
      padding: 40px 0;
      vertical-align: middle;
      &:last-of-type {
        border-bottom: 1px solid #CECDCD;
      }
    }
    .news-date {
      font-style: 18px;
      white-space: nowrap;
      margin-right: 5.08%;
    }
    .news-label {
      font-size: 14px;
      white-space: nowrap;
      border: 2px solid #3B69FF;
      border-radius: 20px;
      height: 28px;
      line-height: 28px;
      width: 10.59%;
      margin-right: 5.08%;
    }
    .news-txt {
      font-style: 18px;
      width: 59.06%;
      text-align: left;
    }
    .news-icon {
      font-size: 14px;
      position: absolute;
      right: 6px;
    }
  }//--news-lists
  .news-btn {
    border: 1px solid #707070;
    height: 64px;
    width: 21.01%;
    line-height: 64px;
    margin: 0 auto;
    font-size: 20px;
  }
}//--end container
.service-container {
  text-align: center;
  height: 655px;
  background: linear-gradient(180deg,#3E3E3E 0%,#3E3E3E 400px,#F3F3F3 400px,#F3F3F3 100%);
  font-family: 'Montserrat';
  margin: 0 auto;
  .service-inner {
    width: 70.27%;
    height: 321px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 5%;
    background: #fff;
    box-shadow: 0px 5px 12px #3E3E3E;
    @include tab {
      width: 90%;
      padding: 3%;
    }
    @include sp {
      width: 90%;
      padding: 3%;
    }
  }
  .service-title {
    font-size: 36px;
    font-weight: bold;
    padding: 80px;
    line-height: 1.2;
    color: #fff;
    display: inline-block;
  }
  .service-lists {
    padding: 54px 0;
    color: #3E3E3E;
    position: relative;
    align-items: center;
    display: flex;
    .service-list {
      width: 26.73%;
      margin-right: 9.83%;
      &:last-of-type {
        margin-right: 0;
      }
    }
    .service-txt {
      text-align: center;
      font-weight: bold;
      letter-spacing: 4px;
      font-size: 20px;
      line-height: 1.3;
      margin-bottom: 20px;
    }
    .service-txt2 {
      font-size: 14px;
      letter-spacing: 0.01px;
    }
  }
}
.results-container {
  text-align: center;
  height: 832px;
  font-family: 'Montserrat';
  background: linear-gradient(90deg,#F3F3F3 0%,#F3F3F3 100px,#3E3E3E 100px,#3E3E3E 100%);
  .results-inner {
    height: 832px;
    padding: 80px 0 80px 8.64%;
    max-width: 100%;
    margin: 0 auto;
    @include tab {
      width: 90%;
      padding: 3%;
    }
    @include sp {
      width: 90%;
      padding: 3%;
    }
    .results-title {
      font-size: 36px;
      line-height: 1.2;
      text-align: left;
      color: #fff;
      margin-bottom: 80px;
      margin-left: 8.64%;
    }
    .results-lists {
      color: #3E3E3E;
      display: flex;
      padding-left: 8.64%;
      margin-bottom: 48px;
      text-align: left;
      .results-list {
        width: 36.28%;
        margin-right: 3.43%;
        &:last-of-type {
          margin-right: 0;
        }
        .results-img {
          height: 234px;
          width: 100%;
          display: block;
        }
        .results-box {
          background-color: #fff;
          color:#3E3E3E;
          padding: 20px;
          .results-txt {
            font-weight: bold;
            font-size: 20px;
            line-height: 1.3;
            margin-bottom: 20px;
          }
          .results-txt2 {
            font-size: 16px;
            letter-spacing: 0.01px;
          }
        }
      }
    }
    .pagenation-lists {
      text-align: left;
      display: flex;
      margin-left: 8.64%;
      margin-bottom: 48px;
      .pagenation-list {
        width: 12px;
        height: 12px;
        background-color: #fff;
        border-radius: 50%;
        margin-right: 16px;
      }
    }
    .results-btn {
      border: 1px solid #fff;
      height: 64px;
      width: 21.01%;
      line-height: 64px;
      font-size: 20px;
      color: #ffffff;
      margin-left: 8.64%;
    }
  }
}//--end results-container

.price-container {
  text-align: center;
  height: 553px;
  background: #F3F3F3;
  font-family: 'Montserrat';
  padding: 130px 0;
  margin: 0 auto;
  .price-inner {
    width: 70.27%;
    padding: 0 4.23%;
    max-width: 100%;
    margin: 0 auto;
  }
  @include tab {
    width: 90%;
    padding: 3%;
  }
  @include sp {
    width: 90%;
    padding: 3%;
  }
  .price-title {
    font-size: 36px;
    line-height: 1.2;
    color: #3E3E3E;
    font-weight: bold;
    margin-bottom: 80px;
  }
  .price-dl {
    font-weight: bold;
  }
  .price-box {
    display: flex;
    border: 1px solid #707070;
    height: 60px;
    line-height: 60px;
    &:nth-of-type(2) {
      border-bottom: none;
    }
    &:nth-of-type(1) {
      border-bottom: none;
    }
    .price-dt {
      width: 30%;
      background-color: #3e3e3e;
      color: #fff;
    }
    .price-dd {
      padding-left: 5%;
    }
  }
  .price-txt {
    font-weight: normal;
    text-align: left;
    font-size: 14px;
  }
}

.comments-container {
  height: 746px;
  text-align: center;
  font-family: 'Montserrat';
  background: linear-gradient(180deg,#f3f3f3 0%,#f3f3f3 130px, #3E3E3E 130px,#3e3e3e 100%);
  position: relative;
  .comments-inner {
    height: 616px;    
    width: 86.45%;
    max-width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 0;
    left: 6.8%;
    display: flex;
    @include tab {
      width: 90%;
      padding: 3%;
    }
    @include sp {
      width: 90%;
      padding: 3%;
    }
    .comments-box {
      width: 54.57%;
      background-color: #fff;
      padding: 40px;
    .comments-title {
      font-size: 36px;
      line-height: 1.2;
      color: #3E3E3E;
      text-align: left;
      font-weight: bold;
      margin: 40px 0 80px;
    }
    .comments-lists {
      .comments-list {
        display: flex;
        margin-bottom: 80px;
      }
      .comments-img {
        margin-right: 50px;
      }
      .comments-txt {
        font-size: 16px;
      }
    }
  }//-- end box
  .comments-box-right {
    width: 45.5%;
    position: relative;
    .comments-img-right {
      width: 100%;
      height: 450px;
      position: absolute;
      left: 0;
      top: 126px;
    }
  }
  }//--end inner
}//--end comments-container
.question-container {
  height: 1065px;
  background-image: url(/Users/sakieishikawa/Desktop/workspace/tokyo/img/sunyu-kim-1053375-unsplash/sunyu-kim-1053375-unsplash.png);
  background-size:  cover;
  position: relative;
  .question-inner {
    .question-title {
      font-size: 36px;
      text-align: center;
      padding: 80px;
    }
    .question-lists {
      width: 45.09%;
      position: absolute;
      right: 8.05%;
      .question-list {
        margin-bottom: 40px;
        background-color: #fff;
        border-radius: 10px;
        padding: 20px 2.92%;
      .q {
        margin-bottom: 20px;
      }
      .a {
        background-color: #D7E1FF;
        border-radius: 10px;
        padding: 18px;
      }
    }
    }
  }
}
